<div class="login-container">
  <h3><a href="/home"><mat-icon></mat-icon> Consulta Ágil</a></h3>
    
  <form (ngSubmit)="onSubmit()">
    <div class="field">
      <input 
        name="username" 
        data-testid="input-username" 
        autocapitalize="off" 
        type="text" 
        value="" 
        id="username" 
        placeholder=" "
        [(ngModel)]="username" 
        autocomplete="off"
        
      >
      <label for="username">e-mail/nome de usuário</label>
      <span>e-mail/nome de usuário</span> <!-- Isso será o texto do placeholder -->
    </div>
    
    <div class="field">
      <input 
        name="password" 
        data-testid="input-password" 
        [(ngModel)]="password" 
        type="password" 
        autocomplete="off" 
        value="" 
        id="password" 
        placeholder=" "
      >
      <label for="password">Senha</label>
      <span>Senha</span> <!-- Isso será o texto do placeholder -->
    </div>
    <div class="button-container">
      <button type="submit">Login</button>
    </div>
  </form>
</div>
<app-message></app-message>