html, body{
    /* background-image: url(../public/photo-1707130871276-434b78941491.jpeg); */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  background-image: url('../public/BackHome.png');  /* Caminho da imagem */
  background-size: cover;  /* Ajusta a imagem para cobrir toda a tela */
  background-position: center;  /* Centraliza a imagem */
  background-repeat: no-repeat;  /* Não repete a imagem */
  margin: 0;  /* Remove as margens padrão */
  height: 100vh;  /* Garante que o body ocupe 100% da altura da tela */
}

.message-box {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
  }
  
  .success {
    background-color: green;
  }
  
  .error {
    background-color: red;
  }
  